<div class="page-header">
  <div class="pull-right">
    <%= link_to "New Employment", new_employment_path, class: "btn btn-info" %>
  </div>
  <h1>Employments</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Person</th>
      <th>Job Title</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% @employments.each do |employment| %>
      <tr>
        <td><em>
          <% if employment.organization.present? %>
          <%= employment.organization.name %>
          <% end %>
        </em></td>
        <td><em>
          <% if employment.person.present? %>
          <%= employment.person.full_name %>
          <% end %>
        </em></td>
        <td><em>
          <% if employment.job_title.present? %>
          <%= employment.job_title.name %>
          <% end %>
        </em></td>
        <td><em>
          <% if employment.location.present? %>
          <%= employment.location.name %>
          <% end %>
        </em></td>
      </tr>
    <% end %>
  </tbody>
</table>
